In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
dtype: int64

In [4]:
type (s1)

pandas.core.series.Series

In [12]:
# Series object from lists
s2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
s2

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [13]:
# Series object from dictionary
s3 = pd.Series({'a':100,'b':200,'c':300})
s3

a    100
b    200
c    300
dtype: int64

In [15]:
s4 = pd.Series({1:20,2:20,3:60},index={1,2,3,4})
s4

1    20.0
2    20.0
3    60.0
4     NaN
dtype: float64

In [17]:
# Extracting individual elements

s5 = pd.Series([1,2,3,4,5,6,7,8,9])

In [18]:
s5[7]

np.int64(8)

In [19]:
s5[:7] #7 elements from start

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [21]:
s5[-3:] #3 elements from end

6    7
7    8
8    9
dtype: int64

In [22]:
# Sum

s1+90

0    91
1    92
2    93
dtype: int64

In [24]:
s2 = pd.Series([6,7,8])

s1+s2+90

0     97
1     99
2    101
dtype: int64

In [ ]:
# Pandas Dataframe : 2-D labelled data-structure

In [26]:
df1 = pd.DataFrame({'Name':['Aditya Singh','Ritish Dubey','Binoy Sikdar'],
                    'Marks':[100,99,100],
                    'Age':[19,19,18]
                   })

In [27]:
df1

           Name  Marks  Age
0  Aditya Singh    100   19
1  Ritish Dubey     99   19
2  Binoy Sikdar    100   18

In [30]:
iris = pd.read_csv('iris.csv')

In [31]:
iris.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [32]:
iris.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [33]:
iris.shape #shows rows and cols

(100, 12)

In [34]:
iris.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [36]:
iris.iloc[5:11,2:7]

,First Name,Last Name,Company,City,Country
5,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina
6,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
7,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
8,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
9,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
10,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey

In [37]:
iris.loc[1:10,("First Name","Last Name","Company","City","Country","Phone 1","Email")]

,First Name,Last Name,Company,City,Country,Phone 1,Email
1,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,vmata@colon.com
2,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,beckycarr@hogan.com
3,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,stanleyblackwell@benson.org
4,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,colinalvarado@miles.net
5,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,louis27@gilbert.com
6,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,tgates@cantrell.com
7,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,asnow@colon.com
8,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,mariokhan@ryan-pope.org
9,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,mdyer@escobar.net
10,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,kirksalas@webb.com

In [43]:
i10 = iris.loc[0:10]
i10 = iris.drop([3,4,5])
i10.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/

In [44]:
iris.min()

Index                                          1
Customer Id                      010468dAA11382c
First Name                                 Aimee
Last Name                               Alvarado
Company              Acosta, Petersen and Morrow
City                                Acevedoville
Country                                  Albania
Phone 1                            (041)737-3846
Phone 2                       (026)401-7353x2417
Email                aharper@maddox-townsend.org
Subscription Date                     2020-01-13
Website                       http://acosta.org/
dtype: object

In [45]:
iris.max()

Index                                  100
Customer Id                faCEF517ae7D8eB
First Name                          Yvonne
Last Name                           Zuniga
Company                    Winters-Mendoza
City                         Zimmermanland
Country                           Zimbabwe
Phone 1                       981-544-9452
Phone 2                       999-728-1637
Email                 zvalencia@phelps.com
Subscription Date               2022-05-26
Website              https://www.vang.com/
dtype: object

In [47]:
iris.sort_values(by = 'Subscript')